<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>BootStrap</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="alert alert-success">
  “The master of the garden is the one who waters it, trims the branches, plants the seeds, and pulls the weeds. If you merely stroll through the garden, you are but an acolyte.”
 </div>
 
<div class="container">
  <div class="row">
      <div class="col col-md-3">
          <div class="card h-100">
            <img class="card-img-top" src="../assets/pic.jpg.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Save Trees</b></h5>
              <p class="card-text">“The best time to plant a tree was 20 years ago. The second best time is now.” </p>
              <br>
              <a href="#" class="btn btn-primary">Donate</a>
            </div>
          </div>
      </div>
      <div class="col col-md-3">
        <div class="card h-100">
          
            <img class="card-img-top1" src="../assets/water.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Save Water</b></h5>
              <p class="card-text">Every drop of water is invaluable. We must protect and try not to waste it.</p>
              <a href="#" class="btn btn-primary">Donate</a>
            </div>
          
                </div>

  </div>
</div>
</div>
</ion-content>
